{% extends 'base.html.twig' %}



{% block body %}
    {{ form_start(bienForm) }}  
{{ form_row(bienForm.photo, {
    label_attr: {class:'sr-only'} }) }}

{{ form_row(bienForm.description, {
    label_attr: {class:'sr-only'} }) }}

{{ form_row(bienForm.adresse, {
    label_attr: {class:'sr-only'} 
}) }}
    
{{ form_row(bienForm.nombreDePieces, {
    label_attr: {class:'sr-only'} 
}) }}

{{ form_row(bienForm.prix, {
    label_attr: {class:'sr-only'} 
}) }}
    


<button class="btn btn-lg btn-primary btn-block" type="submit">
   Mise à jour
</button>  
{{ form_end(bienForm) }}
    

  
{% endblock %}
