<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />


        <!-- Title -->
        <title>{% block title %}Gestion Immo{% endblock %}</title>

        <link rel="shortcut icon" href="favicon.ico">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300' rel='stylesheet' type='text/css'>


        

        {% block stylesheets %}


        <!-- Animate.css -->
        <link rel="stylesheet" href="{{asset('css/animate.css')}}">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{{asset('css/icomoon.css')}}">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
        <!-- Superfish -->
        <link rel="stylesheet" href="{{asset('css/superfish.css')}}">
        <!-- Flexslider  -->
        <link rel="stylesheet" href="{{asset('css/flexslider.css')}}">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.min.css')}}">
        <!-- CS Select -->
        <link rel="stylesheet" href="{{asset('css/cs-select.css')}}">
        <link rel="stylesheet" href="{{asset('css/cs-skin-border.css')}}">

        <link rel="stylesheet" href="{{asset('css/style.css')}}">



        {% endblock %}


    </head>
    <body>


        <div id="fh5co-wrapper">
            <div id="fh5co-page">

                <header id="fh5co-header-section" class="sticky-banner">
                    <div class="container">
                        <div class="nav-header">
                            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                            <h1 id="fh5co-logo"><a href="{{path('home')}}"><i class="icon-home"></i>Gestion<span>Immo</span></a></h1>
                            <!-- START #fh5co-menu-wrap -->
                            <nav id="fh5co-menu-wrap" role="navigation">
                                <ul class="sf-menu" id="fh5co-primary-menu">
                                    <li class="active"><a href="/home">Vos biens</a></li>
                                    <li><a href="/bien/ajouter">Ajouter un bien</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/register">Enregistrement</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>

                {% block body %}{% endblock %}

                <footer>
                    <div id="footer">
                        <div class="container">
                            <div class="row row-bottom-padded-md">
                                <div class="col-md-3">
                                    <h3 class="section-title">A propos de Gestion Immo</h3>
                                    <p>L'application qui vous aide à gérer vos biens immobilier.</p>
                                </div>

                                <div class="col-md-3 col-md-push-1">
                                    <h3 class="section-title">Links</h3>
                                    <ul>
                                        <li><a href="#">Vos biens</a></li>
                                        <li><a href="#">Ajouter un bien</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-3">
                                    <h3 class="section-title">Information</h3>
                                    <ul>
                                        <li><a href="#">Terms &amp; Condition</a></li>
                                        <li><a href="#">License</a></li>
                                        <li><a href="#">Privacy &amp; Policy</a></li>
                                        <li><a href="#">Contactez-nous</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h3 class="section-title">Newsletter</h3>
                                    <p>Souscrivez vous à notre newsletter</p>
                                    <form class="form-inline" id="fh5co-header-subscribe">
                                        <div class="row">
                                            <div class="col-md-12 col-md-offset-0">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                                    <button type="submit" class="btn btn-default"><i class="icon-paper-plane"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="fh5co-social-icons">
                                        <a href="#"><i class="icon-twitter2"></i></a>
                                        <a href="#"><i class="icon-facebook2"></i></a>
                                        <a href="#"><i class="icon-instagram"></i></a>
                                        <a href="#"><i class="icon-dribbble2"></i></a>
                                        <a href="#"><i class="icon-youtube"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>



            </div>
            <!-- END fh5co-page -->

        </div>
        <!-- END fh5co-wrapper -->

        {% block javascripts %}

        <!-- Modernizr JS -->
        <script src="{{asset('js/modernizr-2.6.2.min.js')}}"></script>
        
        
        <!-- jQuery -->
        <script src="{{asset('js/jquery.min.js')}}"></script>
        <!-- jQuery Easing -->
        <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
        <!-- Bootstrap -->
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <!-- Waypoints -->
        <script src="{{asset('js/jquery.waypoints.min.js')}}"></script>
        <script src="{{asset('js/sticky.js')}}"></script>
        <!-- Superfish -->
        <script src="{{asset('js/hoverIntent.js')}}"></script>
        <script src="{{asset('js/superfish.js')}}"></script>
        <!-- Flexslider -->
        <script src="{{asset('js/jquery.flexslider-min.js')}}"></script>
        <!-- Date Picker -->
        <script src="{{asset('js/bootstrap-datepicker.min.js')}}"></script>
        <!-- CS Select -->
        <script src="{{asset('js/classie.js')}}"></script>
        <script src="{{asset('js/selectFx.js')}}"></script>
        
        
        <!-- Main JS -->
        <script src="{{asset('js/main.js')}}"></script>
        
        
        
        {% endblock %}


    </body>
</html>
